<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="ac736f10-2122-48d8-a8c8-3596ebc438a0"
    Publisher="CN=User"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ac736f10-2122-48d8-a8c8-3596ebc438a0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MovieTube</DisplayName>
    <PublisherDisplayName>User</PublisherDisplayName>
    <Logo>Assets\AppIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MovieTube.App">
      <uap:VisualElements
        DisplayName="MovieTube"
        Square150x150Logo="Assets\AppIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\AppIcons\Square44x44Logo.png"
        Description="MovieTube"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppIcons\Wide310x150Logo.png" Square71x71Logo="Assets\AppIcons\SmallTile.png" Square310x310Logo="Assets\AppIcons\LargeTile.png" ShortName="MovieTube"/>
        <uap:SplashScreen Image="Assets\AppIcons\SplashScreen.png"  BackgroundColor="white"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>